body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.help-block { font-weight: bold; color: red; }

/*
 * USV Calendar
 */

.ev-restanta {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
}

.ev-examen {
  background-color: orange !important;
  border-color: orange !important;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
}

.ev-alt {
  background-color: blue !important;
  border-color: blue !important;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
}

.ev-rec_c, .ev-rec_s, .ev-rec_l {
  background-color: yellow !important;
  border-color: yellow !important;
  color: black !important;
  font-weight: bold;
  cursor: pointer;
}

@media print {
  main, .col-md-9, .col-lg-10 {
    width: 100% !important;
    margin: 0;
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .sidebar-sticky {
    position: absolute;
  }

  [role="main"] {
    padding-top: 0 !important;
  }
}
