<table class="table table-sm col-12 m-0">
  <tbody>
    {% for formatie in formatii %}
    {% if formatie.tip ==  'specializare' %}
    <tr data-fid="{{ formatie.pk }}" class="table-light">
      <td class="col-10 pl-4">
        <i onClick="expandFormatie(this)" data-feather="plus-circle"></i>
        <strong>
          {{ formatie.nume }}
        </strong>
      </td>
      {% else %}
      <tr data-fid="{{ formatie.pk }}">
        <td class="col-10 pl-4">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          {{ formatie.nume }}
        </td>
        {% endif %}
        <td class="col-sm-1 d-none d-sm-table-cell text-center">{{ formatie.get_tip_display }}</td>
        <td class="col-2 col-sm-1 text-center">
          <div class="btn-group" role="group">
            <a href="{% url 'usv_structura:stergere' formatie.pk %}">
              <button type="button" class="btn btn-danger btn-sm">
                <i data-feather="delete"></i>
              </button>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
