{% extends "base.html" %}
{% block main %}
<div>
  <div class="card">
    <h5 class="card-header">Adăugare formații de studiu</h5>
    <div class="card-body">
      <form class="form-signin" method="post" novalidate>
        {% csrf_token %}
        {% include "_form-single.html" %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Salvează</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/><br/>
  <div class="card">
    <h5 class="card-header">Listare formații de studiu</h5>
    <div class="card-body">
      {% if formatii.count %}
      <table class="table align-items-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-10">Nume</th>
            <th scope="col" class="col-sm-1 d-none d-sm-table-cell text-center">Tip</th>
            <th scope="col" class="col-2 col-sm-1 text-center">Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          {% for formatie in formatii %}
          <tr class="table-info" data-fid="{{ formatie.pk }}">
            <td class="col-10">
              <i onClick="expandFormatie(this)" data-feather="plus-circle"></i>
              <strong>
                {{ formatie.nume }}
              </strong></td>
            <td class="col-sm-1 d-none d-sm-table-cell text-center">{{ formatie.get_tip_display }}</td>
            <td class="col-2 col-sm-1 text-center">
              <div class="btn-group" role="group">
                <a href="{% url 'usv_structura:stergere' formatie.pk %}">
                  <button type="button" class="btn btn-danger btn-sm">
                    <i data-feather="delete"></i>
                  </button>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-warning" role="alert">
        Nu s-au găsit formații de studiu definite în acest program.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block extra %}
<script type="text/javascript">
  $(document).ready(function () {
    expandFormatie = function (el) {
      // salvam stare initiala
      if (typeof(el.dataset.oldfeather) == 'undefined')
        el.dataset.oldfeather = 'plus-circle';

      // facem toggle la semne in functie de stare
      if (el.dataset.oldfeather  == 'plus-circle') {
        // trebuie expandat
        el.dataset.feather = el.dataset.oldfeather = 'minus-circle';
        // adaugam continutul intr-un tr nou, alaturat parintelui
        getFormatie($(el).parent().parent());
      } else {
        // trebuie minimizat
        el.dataset.feather = el.dataset.oldfeather = 'plus-circle';
        // stergem tr alaturat
        minimizeFormatie($(el).parent().parent());
      }

      feather.replace();
    }

    getFormatie = function (parinteTr) {
      $.get("/structura/formatii/listare/"+parinteTr.data('fid'), function (data, status) {
        parinteTr.after('<tr><td colspan="100" class="p-0 m-0"></td></tr>');
        // jQuery, plin de buguri din 2006 :-)
        target = parinteTr.next().get(0).children[0].innerHTML = data;
        // refreshuim iconurile
        feather.replace()
      });
    }
    minimizeFormatie = function (parinteTr) {
        parinteTr.next().remove();
    }
  });
</script>
{% endblock %}
