{% load i18n widget_tweaks %}

	{% csrf_token %}
	{% for field in form %}
	{% if field.errors %}
	<div class="form-group has-error">
		<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		<div class="col-sm-10">
			{{ field|attr:"class:form-control" }}
			<span class="help-block">
				{% for error in  field.errors %}{{ error }}{% endfor %}
			</span>
		</div>
	</div>
	{% else %}
	<div class="form-group">
		<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		<div class="col-sm-10">
			{{ field|attr:"class:form-control" }}
			{% if field.help_text %}
			<p class="help-block"><small>{{ field.help_text }}</small></p>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% endfor %}
