{% load i18n widget_tweaks %}

<form class="form-horizontal" role="form" action="{{ action }}" method="post">
	{% csrf_token %}
  {% for form in forms %}
	{% for field in form %}
	{% if field.errors %}
	<div class="form-group has-error">
		<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		<div class="col-sm-10">
			{{ field|attr:"class:form-control is-invalid" }}
			<span class="help-block">
				{% for error in  field.errors %}{{ error }}{% endfor %}
			</span>
		</div>
	</div>
	{% else %}
	<div class="form-group">
		<label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		<div class="col-sm-10">
			{{ field|attr:"class:form-control" }}
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
		</div>
	</div>
</form>
