{% extends "base.html" %}
{% block main %}

<div>
  {% if edit %}
  <h1>Editare cadru didactic</h1>
  {% else %}
  <h1>Adăugare cadru didactic</h1>
  {% endif %}
    {% csrf_token %}
    {% include "_form.html" %}
</div>
{% endblock %}
