{% extends "base.html" %}
{% block main %}

<div>
  <div class="card">
    <h5 class="card-header">Informații utilizator: {{ user.get_full_name | default:user.email }}</h5>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Imagine profil</td>
            <td>{{ user.usvuser.foto_tag }}</td>
          </tr>
          <tr>
            <td>Prenume</td>
            <td>{{ user.first_name | default:"N/A" }}</td>
          </tr>
          <tr>
            <td>Nume</td>
            <td>{{ user.last_name | default:"N/A"  }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ user.email}}</td>
          </tr>
          <tr>
            <td>Adresă</td>
            <td>{{ user.usvuser.adresa | default:"N/A" }}</td>
          </tr>
          <tr>
            <td>Telefon</td>
            <td>{{ user.usvuser.telefon | default:"N/A" }}</td>
          </tr>
          <tr>
            <td>Pagină web</td>
            <td><a href="{{ user.usvuser.homepage | default:"http://www.usv.ro"
            }}">{{ user.usvuser.homepage | default:"http://www.usv.ro" }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% if user.is_staff %}
  <br/><br/>
  <div class="card">
    <h5 class="card-header">Schimbare parolă</h5>
    <div class="card-body"></div>
  </div>
  {% endif %}
</div>
{% endblock %}
