{% extends "base.html" %}
{% block main %}

<div>
  <h1>Listare cadre didactice</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Titlu</th>
        <th scope="col">Nume, Prenume</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Administrator</th>
        <th scope="col" class="text-center">Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      {% for profil in profile %}
      <tr>
        <td>{{ profil.usvuser.titlu }}</td>
        <td>{{ profil.last_name }}, {{ profil.first_name }}</td>
        <td>{{ profil.email }}</td>
        <td class="text-center">{{ profil.is_staff | yesno:"✔,✖" }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a href="{% url 'usv_auth:editare' profil.username %}">
              <button type="button" class="btn btn-warning"><i data-feather="edit"></i> Editare</button>
            </a>
            <a href="{% url 'usv_auth:stergere' profil.username %}">
              <button type="button" class="btn btn-danger"><i data-feather="delete"></i> Ștergere</button>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
