{% extends "base.html" %}
{% block main %}

<div>
  <div class="card">
    {% if edit %}
    <h5 class="card-header">Editare locație</h5>
    {% else %}
    <h5 class="card-header">Adăugare locație</h5>
    {% endif %}
    <div class="card-body">
      <form class="form-signin" method="post" novalidate>
        {% csrf_token %}
        {% include "_form-single.html" %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Salvează</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extra %}
<script type="text/javascript">
  $(document).ready(function () {
    // monitorizam evenimente de tip schimbare, daca coincid cu selectarea campului de adaugare
    // transformam campul select intr-un camp de tip text
    monitorChange = function () {
      if ($(this).val() == 'add') {
        selectToText($(this));
      }
    }

    // functie de transformare select -> text
    selectToText = function (target) {
      target.parent().html('<input class="form-control" name="'+target.prop('name')+'" type="text" value="" />');
    }

    // daca nu exista corpuri, transformam direct
    // daca exista, atasam eveniment de monitorizare
    if ($('#id_corp option').length == 1) {
      selectToText($('#id_corp'));
    } else {
      $('#id_corp').change(monitorChange);
    }

    // daca nu exista nivele, transformam direct
    // daca exista, atasam eveniment de monitorizare
    if ($('#id_nivel option').length == 1) {
      selectToText($('#id_nivel'));
    } else {
      $('#id_nivel').change(monitorChange);
    }
  });
</script>
{% endblock %}
