{% extends "base.html" %}
{% block main %}

<div>
  <h1>Listare spații lucru</h1>
  {% if locatii.count %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Corp</th>
        <th scope="col">Nivel</th>
        <th scope="col">Numerotare</th>
        <th scope="col">Scop</th>
        <th scope="col" class="text-center">Capacitate</th>
        <th scope="col" class="text-center">Acțiuni</th>
      </tr>
    </thead>
    <tbody>
      {% for sala in locatii %}
      <tr>
        <td>{{ sala.corp }}</td>
        <td>{{ sala.nivel }}</td>
        <td>{{ sala.nume }}</td>
        <td>{{ sala.get_tip_display }}</td>
        <td class="text-center">{{ sala.capacitate }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a href="{% url 'usv_loc:editare' sala.nume %}">
              <button type="button" class="btn btn-warning"><i data-feather="edit"></i> Editare</button>
            </a>
            <a href="{% url 'usv_loc:stergere' sala.nume %}">
              <button type="button" class="btn btn-danger"><i data-feather="delete"></i> Ștergere</button>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="alert alert-warning" role="alert">
    Nu s-au găsit săli, laboratoare, birouri sau alte spații definite în acest
    program.
  </div>
  {% endif %}
</div>
{% endblock %}
