<div class="card">
  {% if edit %}
  <h5 class="card-header">Editare materie</h5>
  {% else %}
  <h5 class="card-header">Adăugare materie</h5>
  {% endif %}
  <div class="card-body">
    <p class="note">Alocarea materiilor pe formații de studiu se face în pasul
    de programare al cursurilor, laboratoarelor sau situațiilor speciale.</p>
    <form class="form-signin" method="post" novalidate>
      {% csrf_token %}
      {% include "_form-single.html" %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Salvează</button>
        </div>
      </div>
    </form>
  </div>
</div>
