{% load static %}
<script type="text/javascript" src="{% static 'fullcalendar/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/fullcalendar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/ro.js'%}"></script>
<script type="text/javascript" src="{% static 'qtip/jquery.qtip.min.js'%}"></script>
<script type="text/javascript" src="{% static 'orar/calendar.js'%}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.min.css' %}" />
<link rel="stylesheet" href="{% static 'qtip/jquery.qtip.min.css' %}" />
