<div class="card">
  {% if edit %}
  <h5 class="card-header">Modificare rezervare sală</h5>
  {% else %}
  <h5 class="card-header">Rezervare sală</h5>
  {% endif %}
  <div class="card-body">
    {% if not user.is_staff %}
    <p class="note">Formularul curent vă permite să selectați una dintre materiile unde ați fost desemnat ca și cadru didactic, în vederea rezervării unei săli sau locații pentru orice sitație specială (restanța, recuperare, examen sau altele)..</p>
    {% endif %}
    <form class="form-signin" method="post" novalidate>
      {% csrf_token %}
      {% include "_form-single.html" %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Salvează</button>
        </div>
      </div>
    </form>
  </div>
</div>
