{% with form.obiect as profesor %}
<div class="card">
  <h5 class="card-header">Detaliu selecție</h5>
  <div class="card-body">
    <dl>
      <dt>Titlu</dt>
      <dd>{{ profesor.titlu}}</dd>
      <dt>Nume complet</dt>
      <dd>{{ profesor }}</dd>
      <dt>Adresă</dt>
      <dd>{{ profesor.adresa }}</dd>
      <dt>Telefon</dt>
      <dd>{{ profesor.telefon }}</dd>
      <dt>Pagină web</dt>
      <dd>{{ profesor.homepage }}</dd>
    </dl>
  </div>
</div>
<hr>
{% endwith %}
