{% with form.obiect as sala %}
<div class="card">
  <h5 class="card-header">Detaliu selecție</h5>
  <div class="card-body">
    <dl>
      <dt>Numerotare</dt>
      <dd>{{ sala.nume }}</dd>
      <dt>Corp</dt>
      <dd>{{ sala.corp}}</dd>
      <dt>Nivel</dt>
      <dd>{{ sala.nivel }}</dd>
      <dt>Capacitate</dt>
      <dd>{{ sala.capacitate }}</dd>
      <dt>Destinație</dt>
      <dd>{{ sala.destinatie}}</dd>
    </dl>
  </div>
</div>
<hr>
{% endwith %}
