{% with form.obiect as materie %}
<div class="card">
  <h5 class="card-header">Detaliu selecție</h5>
  <div class="card-body">
    <dl>
      <dt>Nume</dt>
      <dd>{{ materie.nume }}</dd>
      <dt>Prescurtare</dt>
      <dd>{{ materie.prescurtare }}</dd>
      <dt>Profesori asociați</dt>
      <dd>{{ materie.profesori.all|join:"; " }}</dd>
    </dl>
  </div>
</div>
<hr>
{% endwith %}
