{% with form.obiect as formatie %}
<div class="card">
  <h5 class="card-header">Detaliu selecție</h5>
  <div class="card-body">
    <dl>
      <dt>Nume</dt>
      <dd>{{ formatie }}</dd>
      <dt>Tip</dt>
      <dd>{{ formatie.get_tip_display }}</dd>
    </dl>
  </div>
</div>
<hr>
{% endwith %}
