{% extends "base.html" %}
{% load static %}
{% block main %}
{% include 'rezervari/adaugare.html' %}
{% endblock %}
{% block extra %}
{{ form.media }}
<script type="text/javascript" src={% static '/pickadate/picker.js' %}></script>
<script type="text/javascript" src={% static '/pickadate/picker.date.js' %}></script>
<script type="text/javascript" src={% static '/pickadate/picker.time.js' %}></script>
<script type="text/javascript" src={% static '/pickadate/translations/ro_RO.js' %}></script>

<script type="text/javascript">
  $(document).ready(function () {
    // fix pt django date-value
    $('#id_start_date_0').attr('data-value', $('#id_start_date_0').val());
    $('#id_start_date_0').pickadate({
      formatSubmit: 'yyyy-mm-dd',
      hiddenName: true
    });
    $('#id_start_date_1').pickatime({
      formatSubmit: 'HH:i',
      format: 'HH:i',
      hiddenName: true
    });
  });
</script>
<link rel="stylesheet" type="text/css" href="{% static '/pickadate/themes/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/pickadate/themes/default.time.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/pickadate/themes/default.date.css' %}" />
{% endblock %}
