{% extends "base.html" %}
{% load static %}
{% block main %}

<div>
  <div class="card">
    <h5 class="card-header">Listare planificări</h5>
    <div class="card-body">
      <div id="calendar">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra %}
<script type="text/javascript" src="{% static 'fullcalendar/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/fullcalendar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'fullcalendar/ro.js'%}"></script>
<script type="text/javascript" src="{% static 'qtip/jquery.qtip.min.js'%}"></script>
<script type="text/javascript" src="{% static 'orar/calendar.js'%}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.min.css' %}" />
<link rel="stylesheet" href="{% static 'qtip/jquery.qtip.min.css' %}" />

{% if not user.is_anonymous %}
<script type="text/javascript">
calendarUrl = "/orar/planificari.json";
is_admin = true
</script>
{% endif %}
{% endblock %}
