{% extends "base.html" %}
{% load static %}
{% block main %}

<div>
  {% if show_calendar %}
  {% with 'rezervari/detaliu_'|add:tip_obiect|add:'.html' as tpl_detaliu %}
  {% include tpl_detaliu %}
  {% endwith %}
  <div class="card">
    <h5 class="card-header">Listare planificări pentru: {{ form.nume }}</h5>
    <div class="card-body">
      <div id="calendar">
      </div>
    </div>
  </div>
  {% else %}
  <div class="card">
    <h5 class="card-header">Afișare program pentru:</h5>
    <div class="card-body">
      <form class="form-signin" method="post" novalidate>
        {% csrf_token %}
        {% include "_form-single.html" %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Caută</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block extra %}
{% if show_calendar %}
{% include 'rezervari/_calendar.html' %}
<script type="text/javascript">
  calendarUrl = "/orar/planificari/{{ tip_obiect }}/{{ id_obiect }}.json";
{% if not user.is_anonymous %}
is_admin = true;
{% else %}
is_admin = false;
{% endif %}
</script>
{% else %}
{{ form.media }}
{% endif %}

{% endblock %}
