{% extends "base.html" %}
{% block main %}

<div>
  {% include 'materii/adaugare.html' with form=form edit=edit %}
  <br/><br/>
  <div class="card">
    <h5 class="card-header">Listare materii</h5>
    <div class="card-body">
      {% if materii.count %}
      <table class="table align-items-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-6">Nume</th>
            <th scope="col" class="col-4 d-none d-sm-table-cell">Profesori</th>
            <th scope="col" class="col-4 col-sm-2 text-center">Acțiuni</th>
          </tr>
        </thead>
        <tbody>
          {% for materie in materii %}
          <tr>
            <td class="col-6">
                {{ materie.nume }}
            </td>
            <td class="col-4 d-none d-sm-table-cell">
              {% with materie.profesori.all as profesori %}
              {% if profesori.count %}
              {% for profesor in profesori %}
              {{ profesor.user.last_name }}, {{ profesor.user.first_name }}<br/>
              {% endfor %}
              {% else %}
                Nu există
              {% endif %}
              {% endwith %}
            </td>
            <td class="col-4 col-sm-2 text-center">
              <div class="btn-group" role="group">
                <a href="{% url 'usv_structura:editare-materii' materie.pk %}">
                  <button type="button" class="btn btn-warning btn-sm">
                    <i data-feather="edit"></i> <span class="d-none d-block-md">Editare</span>
                  </button>
                </a>
                <a href="{% url 'usv_structura:stergere-materii' materie.pk %}">
                  <button type="button" class="btn btn-danger btn-sm">
                    <i data-feather="delete"></i> <span class="d-none d-block-md">Stergere</span>
                  </button>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-warning" role="alert">
        Nu s-au găsit materii definite în acest program.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block extra %}
{{ form.media }}
{% endblock %}
