{% extends "base.html" %}
{% block main %}

<div>
  {% if user and not user.is_anonymous %}
  <li>Hello {{ user.get_full_name | default:user.username }}!</li>
  {% else %}
  <div class="card">
    <h5 class="card-header">Autentificare</h5>
    <div class="card-body">
      <form class="form-signin" method="post" novalidate>
        <img class="col-sm-2 offset-sm-4" src="/uploads/usv-sigla2.gif" alt="" width="125">
        {% include "_form-single.html" %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Autentificare</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-lg btn-primary btn-block">
              Autentificare cu Google
            </a>
          </div>
        </div>
      </form>
    </div>
    {% endif %}

  </div>
  {% endblock %}
